<footer class="footer grid_cols_2_10">
  <div class="lpf">
    <a href="/">
    <span>&copy; 2023 &ndash;</span>
    <img src="/support/images/logos/lpf_logo.svg"
         alt="fotovoltaica logo"
         title="Fotovoltaica">
    </a>
  </div>
  <div class="message">
    <i class="fa-regular fa-face-smile"></i> Volte Sempre!
  </div>
  <div class="unicamp">
    <a href="https://portal.ifi.unicamp.br/" target="_blank">
      <span title="Instituto de Física Gleb Wataghin">IFGW |</span>
    </a>
    <a href="https://www.unicamp.br/unicamp/" target="_blank">
      <img src="/support/images/logos/unicamp_logo.svg"
           alt="unicamp logo"
           title="Unicamp">
    </a>
  </div>
</footer>
