<nav class="nav">
  <input type="checkbox" id="checkbox" class="menu_check">
  <label for="checkbox" class="menu_label">
    <img src="/support/images/icons/menu_clean.svg" alt="menu" title="Menu">
  </label>
  <ul class="dropdown_menu">
    <li class="close_icon">
      <label for="checkbox" class="close_label">
        <img src="/support/images/icons/close_clean.svg" alt="menu" title="Close">
      </label>
    </li>
    <li><a href="/">Início</a></li>
    <li><a href="/oportunidades/">Oportunidades</a></li>
    <li><a href="/blog/">Blog</a></li>
    <li><a href="/localizacao/">Localização</a></li>
    <li><a href="/professores/">Professores</a></li>
    <li><a href="/pos_doutores/">Pós-Doutores</a></li>
    <li><a href="/doutorandos/">Doutorandos</a></li>
    <li><a href="/mestrandos/">Mestrandos</a></li>
    <li><a href="/ic/">Iniciação Científica</a></li>
    <li><a href="/tecnicos/">Técnicos</a></li>
    <li><a href="/deposicao/">Sistemas de Deposição</a></li>
    <li><a href="/caracterizacao/">Sistemas de Caracterização</a></li>
    <li><a href="/outros/">Outros</a></li>
  </ul>
</nav>
