<ul class="social_links">
  {% if page.lattes != 'none' %}
    <li>
      <a href="{{ page.lattes }}" target="_blank">
        <img src="/support/images/social_links/lattes.svg"
             alt="lattes"
             title="Lattes">
      </a>
    </li>
  {% endif %}
  {% if page.bv-fapesp != 'none' %}
    <li>
      <a href="{{ page.bv-fapesp }}" target="_blank">
        <img src="/support/images/social_links/bv-fapesp.svg"
             alt="bv-fapesp"
             title="BV Fapesp">
      </a>
    </li>
  {% endif %}
  {% if page.researcher-id != 'none' %}
    <li>
      <a href="{{ page.researcher-id }}" target="_blank">
        <img src="/support/images/social_links/researcher-id.svg"
             alt="researcher-id"
             title="Researcher ID">
      </a>
    </li>
  {% endif %}
  {% if page.google-scholar != 'none' %}
    <li>
      <a href="{{ page.google-scholar }}" target="_blank">
        <img src="/support/images/social_links/google-scholar-v2.svg"
             alt="google-scholar"
             title="Google Acadêmico">
      </a>
    </li>
  {% endif %}
  {% if page.linkedin != 'none' %}
    <li>
      <a href="{{ page.linkedin }}" target="_blank">
        <img src="/support/images/social_links/linkedin.svg"
             alt="linkedin"
             title="Linkedin">
      </a>
    </li>
  {% endif %}
  {% if page.facebook != 'none' %}
    <li>
      <a href="{{ page.facebook }}" target="_blank">
        <img src="/support/images/social_links/facebook.svg"
             alt="facebook"
             title="Facebook">
      </a>
    </li>
  {% endif %}
  {% if page.instagram != 'none' %}
    <li>
      <a href="/support{{ page.instagram }}" target="_blank">
        <img src="/support/images/social_links/instagram.svg"
             alt="instagram"
             title="Instagram">
      </a>
    </li>
  {% endif %}
  {% if page.twitter != 'none' %}
    <li>
      <a href="{{ page.twitter }}" target="_blank">
        <img src="/support/images/social_links/twitter.svg"
             alt="twitter"
             title="Twitter">
      </a>
    </li>
  {% endif %}
</ul>
