---
layout: default
tab_title: LPF | Outros
description: Outros sistemas do Laboratório de Pesquisas Fotovoltaicas.
h1: Outros Sistemas do LPF
---
<section>
  {% for sys in site.outros %}

    <div class="systems top_rule">
      <div class="head">
        <h2>{{ sys.name_en }}</h2>
        <h3>{{ sys.name_pt }}</h3>
      </div>
      <div class="img_text">
        <img
          src=
            {% if sys.img_path == 'none' %}
              "/support/images/systems/voltmeter.svg"
            {% else %}
              "{{ sys.img_path }}"
            {% endif %}
          alt="{{ sys.name_en }}"
          title="{{ sys.name_en }}">
        {{ sys.content }}
      </div>
    </div>

  {% endfor %}
</section>
